* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background: #252836;

}


.main_left {
    width: 57%;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
}

.form-select {
    width: 100px;
}

.urn {
    width: 200px;
    height: 190px;
    border: 1px solid white;
    background: #1F1D2B;
    border-radius: 8px;
}

.main_right {
    width: 43%;
}

.table {
    text-align: center;
    color: #E0E6E9;
}

.table td {
    text-align: center;

}

.table button {
    border: none;
    background: rgba(107, 226, 190, 0.24);
    color: #50D1AA;

}

.main-block {
    margin: 50px;
}

.case {
    width: 90%;
    height: 90px;
    margin-left: 1.5rem;
    margin-bottom: 10px;
    border: 1px solid white;
    display: flex;

}

.salat:hover {
    transform: rotateZ(360deg);
    transition: 10s;
}

@media(max-width:576px) {
    .main {
        width: 100%;
        height: auto;
        background: #252836;

    }

    .main_left {
        width: 100%;
        overflow: hidden;
    }


    .main_right {
        width: 100%;
    }

    .urn {
        width: auto;
        border: 1px solid white;
        background: #1F1D2B;
        border-radius: 8px;
    }



    .case {
        width: 90%;
        height: auto;
        margin-left: 1.5rem;
        margin-bottom: 14px;
        border: 1px solid white;
        display: flex;

    }

    .table td {
        font-size: 11px;

    }
}