.home{
    width: 100%;
    height: 100%;
}
.homeLeftBlock{
    width: 65%;
    height: 100%;
}
.homeRightBlock{
    width: 35%;
    height: 100%;
    background-color:#1F1D2B;
}
.HomeHeader{
    width: 100%;
    height: 13%;
    color:#fff; 

    padding: 0px 10px;
}
.header_date{
    color: rgba(255, 255, 255, 0.682);
}
.header_search{
    margin-right: 25px;
}
.homeMainBlock{
    width: 100%;
    height: 87%;
}
.homeMainMenu{
    width: 100%;
    height: 10%;
    list-style-type: none;
    padding: 10px 30px;
    border-bottom: 1px rgba(255, 255, 255, 0.39) solid;
    color:#fff;
}
.homeCards{
    width: 100%;
    height: 90%;
    color:#fff;
}
.homeMenu{
    color:#fff;
    text-decoration: none;
}
.homeMenu:hover{
    color:#fff;
    text-decoration: none;
}
.homeMenuActive{
    color:#EA7C69;
    text-decoration: none;
}
.homeMenuActive:hover{
    color:#EA7C69;
    text-decoration: none;
}
.hotDishes{
    height: 100%;
}
.hotDishesHeader{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hotDishesCardArea{
    width: 100%;
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}
.hotDishesCard{
    width: 30%;
    background-color:#1F1D2B;
    border-radius:15px;
    list-style-type:none;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}
.hotDishesCard p{
    opacity: 80%;
}
.FoodImg{
    border-radius:50%;
    width: 60%;
}
.orderList{
    height: 60%;
    border-top: 1px solid rgba(255, 255, 255, 0.502);
    border-bottom: 1px solid rgba(255, 255, 255, 0.502);
    overflow-y: scroll;
}
.orderAmountList{
    height: 10%;
}
.orderAmount{
    color:rgba(255, 255, 255, 0.547);
}
.homeOrderBtn{
    border: #EA7C69 1px solid;
    color:#EA7C69;
}
.PaymentBtn{
    background-color: #EA7C69;
    border: #EA7C69;
    color:#fff;
}
.homeOrderInput::placeholder{
    color:rgba(255, 255, 255, 0.514);
}
.orderImg{
    border-radius:50%;
    width: 42px;
    height: 42px;
}
@media only screen and (max-width:576px){
    .homeLeftBlock{
        width: 100%;
        height: 100%;
    }
    .hotDishesCard{
        width: 90%;
    }
    .hotDishesCardArea{
        display: block;
    }
    .FoodImg{
        width: 50%;
    }
    .homeMenu{
        color:#fff;
        text-decoration: none;
        font-size: 10px;
    }
    .homeMenuActive{
        color:#EA7C69;
        text-decoration: none;
        font-size: 15px;
    }
}
